.header_icons{
    margin: 0;
    padding-inline-start: 0%;
}

#main-header{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav__icon{
    padding:5px;
    grid-template-columns: 1000px;
    grid-template-rows: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left:0px;
    margin-right: 0px;
}

.nav__icon a{
    text-align: center;
    padding: 14px 16px;
    float: left;
    display: block;
}

body{
    background-image: url(./Pictures/snow.jpg);
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: 1900px;
    margin: auto;
}
.nav__foot {
    padding: -10px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
}

.nav__foot a {
    display: block;
}

.bio__header{
    margin: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.bio{
    text-align: center;
}

.solidbio {
    margin-top: 50px;
    width: 500px;
    margin: auto;
}

.contact{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.social__media {
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    margin: 50px;
    display: grid;
    grid-area: auto;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px;
}
.github{
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkedin{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gmail{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pictures__picture-box{
    padding: 25px;
    margin: 50px;
    text-align: center;
    text-decoration: none;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: grid;   
    grid-template-columns: 500px;
    grid-template-rows: 50px 900px 50px 900px; 
    grid-area: auto;    
}

.solidprojec{
    padding: 50px;
    margin: auto;
    justify-content: center;
}

.virtual_crab{
    grid-column: 1;
    font-size: 200%;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

#crab{
    grid-row: 1;
    grid-column: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.hospital{
    margin-top: 160px;
    grid-row: 2;
    grid-column: 1;
    font-size: 200%;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

#hospi{
    grid-row: 2;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
