*{
    border-width: 1px;
    font-family: Cambria, sans-serif;

}
.header_icons{
    margin: 0;
    padding-inline-start: 0%;
}
.nav__icon{
    padding:10px;
    display: grid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    grid-template-columns: 1000px;
    grid-template-rows: 500px;
    margin-left:-10px;
    margin-right: -10px;
  
}
body{
    background-image: url(./Pictures/snow.jpg);
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: 1900px;
}
.bio{
    text-align: center;
}
.virtual_crab{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.hospital{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.pictures__picture-box{
 
    text-align: center;
}
.nav__foot {
    padding: 0px;
    text-align: center;
}
.social__media {
    padding: 20px;
    margin: 20px;
   display: grid;
   grid-area: auto;
   grid-template-columns: 300px 300px 300px;
   grid-template-rows: 300px;
}
.github{
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkedin{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gmail{
    display: flex;
    justify-content: center;
    align-items: center;
}