
#main-header{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav__icon{
    padding:5px;
    grid-template-columns: 1000px;
    grid-template-rows: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav__icon a{
    text-align: center;
    padding: 14px 16px;
    float: left;
    display: block;
}

.nav__foot {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    text-align: center;
    display: block;
}

.bio__header{
    margin: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.bio{
    text-align: center;
}

.solidbio {
    margin-top: 50px;
    width: 500px;
    margin: auto;
}

.contact{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.social__media {
    margin: 100px;
    flex-direction: row;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
}
.github{
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    grid-column: 1;
    grid-row: 2;
   
}

.linkedin{
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    grid-row: 2;
    grid-column: 2;
}

.gmail{
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    grid-column: 3;
    grid-row: 2;
   
} 

.pictures__picture-box{
    margin-top: 50px;
    display: grid;   
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    text-align: center;
    row-gap: 25px;
    }

.oneDayAtATime{
    padding: 20px;
    margin: auto;
    justify-content: center;
}
.purpleHaze{
    padding: 20px;
    margin: auto;
    justify-content: center;
}
.clicking__calamity{
    padding: 20px;
    margin: auto;
    justify-content: center;
}
.reviews__site{
    padding: 20px;
    margin: auto;
    justify-content: center;
}
h2{
    margin: 10px;
}
h2 a{
    text-decoration: none;
    color: black;
}

