*{
    border-width: 1px;
    font-family: Cambria, sans-serif;

}

#main-header{
    font-size: 70px;
    color:rgb(35, 35, 35);
}

.nav__icon {
    background-color: rgba(51, 51, 51, 0.900);
}
      
.nav__icon a {
    color: #f2f2f2;
    text-decoration: none;
    color: #f2f2f2;
    font-size: 140%;
}
      
.nav__icon a:hover {
    background-color: #ddd;
    color: rgba(0, 0, 0, 0.900);
}

.bio__header{
    font-size: 30px;
    color: rgb(35, 35, 35);
}

.solidbio {
    background-color: rgba(211, 211, 211, 0.900);
    border: 15px solid rgba(51, 51, 51, 0.900);
    padding: 50px;
    font-size: 120%;
}

.contact{  
    color: rgb(35, 35, 35);
}

.social__media{
    color: rgb(35, 35, 35);
}

.solidprojec {
    background-color: rgba(211, 211, 211, 0.900); width: 300px;
    border: 15px solid rgba(51, 51, 51, 0.900);
    font-size: 120%; 
}

.virtual_crab a {
    color:rgb(35, 35, 35);
}
.virtual_crab a:visited{
    color:rgb(35, 35, 35);
}

.hospital a {
    color:rgb(35, 35, 35);
}

.hospital a:visited{
    color:rgb(35, 35, 35);
}

.nav__foot{
    color: #f2f2f2  ;
    background-color: rgba(51, 51, 51, 0.900);
}

.nav__foot a {
    color: #f2f2f2;
    font-size: 100%;
}

.nav__foot a:hover {
    background-color: #ddd;
    color: rgba(0, 0, 0, 0.900);
}