*{
    font-family: Cambria, sans-serif;
}
.pictures{
    display: flex;
}
.header_icons{
    display: grid;
    margin: 2rem auto 2rem auto;
    width: 1000px;
}























/* 
:root { /* Notice we declare this with the same key, value pair. */
    /* --primary-color: red;
    --secondary-color: blue;
    --tertiary-color: yellow;
/* } */
/* h1 { Declare variables the same way you would other values. */
    /* background-color: var(--tertiary-color);
    color: var(--primary-color);
} */
